<section id="add-order">
  <form>
    <div class="form-row align-items-md-end">
      <div class="col-md-6 my-1">
        <label for="inlineFormInputName">Imie</label>
        <input type="text" class="form-control" id="inlineFormInputName" placeholder="Imie">
      </div>
      <div class="col-md-6 my-1">
        <label for="inlineFormInputGroupUsername">Cena</label>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Cena">
      </div>
      <div class="col-md-11 my-1">
        <label for="inlineFormInputGroupUsername">Danie</label>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Danie">
      </div>
      <div class="col-md-1 my-1">
        <button type="submit" class="btn btn-primary">Dodaj</button>
      </div>
    </div>
  </form>
</section>
